h1= title
p Welcome to #{title}

div(id='buttons')
	button(value='d') Democrat
	button(value='r') Republican

div(id='chatwindow')
	div(id='chatcontent')
	br
	input(type='text', id='input')
	input(type='submit', id='sendbtn', value='Send')
