h1= title
p Welcome to #{title}

div(id='buttons')
	button(value='d') Democrat
	button(value='r') Republican

textarea(id='chatwindow', rows='10', cols='50', readonly)
br
input(type='text', id='input')
input(type='submit', id='sendbtn', value='Send')
