#banner{height:70%;}
button{margin:0 0 0 -20px;padding:10px 20px;width:336px;text-align:left;font-size:16px;border-width:3px 0 0 0;border-color:#b22234;background-color:#ebebf3;}button:hover{cursor:pointer;}
button:hover span{display:block;}
button span{display:none;float:right;color:#b22234;}
.column{display:inline-block;position:relative;}
.column1{display:inline-block;position:relative;width:336px;}
.column2{display:inline-block;position:relative;width:384px;}
.column3{display:inline-block;position:relative;width:192px;}
.container{width:960px;position:relative;margin:auto;}
h1{margin:0;}
#header{color:#ebebf3;margin:0 0 20px 0;padding:20px 0;background:#3c3b6e;}#header ul{margin:0;padding:0;}#header ul li{display:inline-block;margin-right:40px;}#header ul li a{font-size:16px;color:#ebebf3;text-decoration:none;}#header ul li a:hover{color:#807fb2;}
html,body{height:100%;margin:0;padding:0;font-family:Helvetica Neue;background:#ebebf3;}
#chatwindow{display:none;}#chatwindow input{margin:0;padding:10px 0;}#chatwindow input[type="text"]{width:223.20000000000002px;background-color:#ebebf3;border:0;}#chatwindow input[type="text"]:focus{outline:0;}
#chatwindow input[type="submit"]{margin-left:-4px;width:74.4px;border:0;background:#3c3b6e;color:#ebebf3;}#chatwindow input[type="submit"]:hover{cursor:pointer;background:#807fb2;}
#waiting{display:none;}
#chatcontent{border-bottom:3px solid #b22234;width:297.6px;margin-bottom:-10px;height:500px;overflow-y:scroll;}#chatcontent p{padding:0px 10px;margin:0px;}
p.r{background:#ff5c5c;}
p.d{background:#775cff;}
