#chatcontent {
	border: 1px solid black;
	width: 500px;
	height: 400px;
	overflow-y: scroll;
}

#chatcontent p {
	padding: 0px 10px;
	margin: 0px;
}

p.r {
	background: #ff5c5c;
}

p.d {
	background: #775cff;
}
